/* header */
header{
    width: 100%;
    height: 1.22rem;
    background: #fe3041;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.32rem;
    position: fixed;
    left: 0;
    top: 0;
}
header .icon{
    font-size: 0.46rem;
}
header h1{
    color: white;
}
/* nav */
nav{
    height: 0.55rem;
    background: #fe3041;
    display: flex;
    justify-content: space-between;
    padding: 0 0.32rem;
    position: fixed;
    left: 0;
    top: 1.22rem;
}
nav ul{
    width: 6.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    overflow: auto;
}
nav ul li{
   
    height: 0.55rem;
    color: white;
    font-size: 0.3rem;
    white-space: nowrap;
    margin: 0 0.15rem;
    position: relative;
}
nav div{
    width: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>div .icon{
    color: white;
}
nav ul .active::after{
    content: '';
    width: 0.54rem;
    height: 0.04rem;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0.25rem;
}
/* banner */
body{
    display: flex;
    flex-direction: column;
    position: relative;
}
main{
    margin-top: 1.77rem;
    flex:1;
}
main .banner{
    height: 2.74rem;
    background: #eeeeee;
    padding: 0.24rem 0.24rem 0 0.24rem;
}
main div:nth-child(1) img{
    width: 100%;
}
/* sectio1 */
.section1{
    width: 100%;
    height: 1.48rem;
    background: #f2f2f1;
    padding: 0.24rem 0.24rem 0 0.24rem;
}
.section1>ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section1 ul li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section1 ul li div{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    background-image: linear-gradient(to right,rgb(255, 115, 0),#da1c11);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.01rem 0.01rem 0.1rem 0.01rem #da1b11b0;
}
.section1 .icon{
    font-size: 0.48rem;
    color: white;
}
.section1 ul li p{
    font-size: 0.16rem;
    color: #717171;
}
.section1 ul li:nth-child(2) div{
    background-image: linear-gradient(to right,#3abefb,#3aabfb);
    box-shadow: 0.01rem 0.01rem 0.1rem 0.01rem #1190dab0;
}
.section1 ul li:nth-child(3) div{
    background-image: linear-gradient(to right,#eb2fdb,#d9149a);
    box-shadow: 0.01rem 0.01rem 0.1rem 0.01rem #d859d8a6;
}
.section1 ul li:nth-child(4) div{
    background-image: linear-gradient(to right,#fa8557,#fa5e57);
    box-shadow: 0.01rem 0.01rem 0.1rem 0.01rem #da4011ab;
}
.section1 ul li:nth-child(5) div{
    background-image: linear-gradient(to right,#28e8a8,#28e881);
    box-shadow: 0.01rem 0.01rem 0.1rem 0.01rem #11da8686;
}
/* section2 */
.section2{
    height: 2.8rem;
    background-color: #eeeeee;
    padding: 0.12rem 0.24rem 0.03rem;
}
.section2 .pink{
    height: 2.65rem;
    background-color: #ffe7e9;
    padding: 0.2rem 0.18rem 0.18rem;
}
.section2 .pink>div:nth-child(1){
    display: flex;
    justify-content: space-between
}
.section2 .pink>div:nth-child(1) h3{
    font-size: 0.34rem;
    font-weight: normal;
}
.section2 .pink>div:nth-child(1) p{
    width: 1.6rem;
    height: 0.4rem;
    background-color: white;
    font-size: 0.23rem;
    color: #676666;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 0.4rem;
}
.section2 .pink>div:nth-child(2){
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
}
.section2 .pink>div:nth-child(2)>div:nth-child(1){
    width: 2.69rem;
    height: 1.65rem;
    background-color: white;
    padding: 0.16rem;
}
.section2 .pink>div:nth-child(2)>div:nth-child(2){
    width: 3.95rem;
    height: 1.65rem;
    background-color: white;
    padding: 0.16rem;
}

.section2 .pink>div:nth-child(2) div:nth-child(1) h3{
    font-weight: normal;
    font-size: 0.27rem;
    color: #666666;
}
.section2 .pink>div:nth-child(2) div:nth-child(1) p{
    font-size: 0.2rem;
    color: #999999;
    line-height: 0.44rem;
}
.section2 .pink>div:nth-child(2) div:nth-child(1) h2{
    font-size: 0.43rem;
    color: red;
}
.section2 .pink>div:nth-child(2) div:nth-child(1) h2 span{
    font-size: 0.21rem;
}
.section2 .pink>div:nth-child(2)>div:nth-child(2){
    display: flex;
    justify-content: space-between;
}
.section2 .pink>div:nth-child(2)>div:nth-child(2)>div:nth-child(2) img{
    height: 100%;
}
/* section3 */
.section3{
    width: 100%;
    height: 8rem;
    background-color: #f2f2f2;
    padding: 0.24rem;
}
.section3 .white{
    height: 100%;
    background-color: white;
    border-radius: 0.1rem;
    padding-top: 0.24rem;
}
.section3 .white div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section3 .white div:nth-child(1) h3{
    font-size: 0.3rem;
    font-weight: normal;
    margin-left: 0.6rem;
}
.section3 .white>div:nth-child(1) p{
    font-size: 0.23rem;
    color: #999;
    margin-right: 0.27rem;
}
.section3 .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0.44rem;
}
.section3 .content div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3 .content div h1{
    width: 1.48rem;
}
.section3 .content div h1 img{
    width: 100%;
}
.section3 .content div p{
    font-size: 0.18rem;
}
.section3 .content div span{
    width: 1.48rem;
    height: 0.24rem;
    line-height: 0.24rem;
    background-color: red;
    border-radius: 0.1rem;
    font-size: 0.16rem;
    color: white;
    display: flex;
    align-items: center;
}
.section3 .content div .icon{
    font-size: 0.2rem;
}
.section3 .pos{
    position: fixed;
    left: 0.1rem;
    top: 9.11rem;
}
.section3 .pos img{
    width: 1.17rem;
}
/* footer */
footer{
    width: 100%;
    height: 0.98rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f8f6f7;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #c7c4c4;
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .icon{
    font-size: 00.44rem;
    color: #999999;
}
footer div p{
    font-size: 0.18rem;
    color: #666666
    ;
}