#head{ 
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: #fff;
}
#banner{
    width: 100%;
    height: 561px;
    /* background-color: darkseagreen; */
}
#main{
    width: 100%;
    height: 1851px;
    background-color: blanchedalmond;
}
#footer{
    height: 220px;
    background-color: black;
}
.logo img{
    width: 195px;
    height: 90px;
    float: left;
    margin-left: 144px;
}
.logo ul{
    height: 100px;
}
.logo ul li{
    float: left;
    font-size: 15px;
    line-height: 100px;
    padding-right: 62px;
}
.list1{
    margin-left: 130px;
}
.logo a{
    color: #000;
}
.logo:hover a{
    color: coral;
}
.main1{
    width: 1158px;
    height: 560px;
    margin: 0 auto;
}
.main2{
    width: 360px;
    float: left;
    margin-top: 30px;
    margin-bottom: 40px;
}
.main3{
    width: 710px;
    height: 426px;
    float: right;
    margin-top: 35px;
    margin-bottom: 54px;
}
/* hr{
    height: 2px;
    color:  #7f7f7f;
} */
.main3 h4{
    border-top: 3px solid #7f7f7f;
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 50px;
}
.main3 span{
    float: right;
}
.img1{
    margin-bottom: 40px;
}
.main3 ul li{
    width:700px ;
    height: 75px;
    font-size: 13px;
    font-weight: bold;
    line-height: 75px;
    border-bottom: 1px solid #ddd;
}
.main4 img{
    margin-left: 180px;
}
.main5{
    width: 1094px;
    height: 90px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 30px;
}
.main5 h4{
    font-weight: normal;
    padding-bottom: 24px;
}

