*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}
li{
    list-style: none;
}
em,i{
    font-style: none;
}
b,strong{
    font-weight: none;
}
/* 版心 */
.wrapper{
    width: 1161px;
    margin:0 auto;
}