#head{
    width: 100%;
    height: 83px;
    /* background-color: crimson; */
}
#banner{
    width: 100%;
    /* height: 479px; */
    background-color: sandybrown;
}
#main{
    width: 100%;
    height: 3002px;
    /* background-color: thistle; */
}
#footer{
    width: 100%;
    height: 635px;
    background-color: #2e2e2e;
}

/* head区域 */
#head div .logo{
    margin: 0 auto;
    overflow: hidden;
}
#head .logo div{
    float: left;
}
#head .logo .text1{
    width: 216px;
    height: 39px;
    border-left: 1px solid #dddddd;
}
#head .logo img{
    display: block;
}
#head .logo .logo1{
    margin: 18px 17px 13px 0px;
}
#head .logo .text1{
    padding-left: 13px;
    padding-right: 0px;
    margin-top: 27px;
    margin-bottom: 13px;
}
#head .nav{
    height: 83px;
    overflow: hidden;
    padding-left: 90px;
}
#head ul li {
    width: 82px;
    height: 83px;
    float: left;
}
#head ul li a{
    height: 12px;
    color: #333333;
    font-size: 12px;
    text-align: center;
    line-height: 83px;
}
#head ul li:hover a{
    color: red;
    border-bottom: 1px solid black;
}
/* banner部分 */
#banner img{
    width: 100%;
    display: block;
}
/* 第一部分 */
#main .section1{
    height: 112px;
    /* background: rosybrown; */
    padding-top: 42px;
}
#main .section1 h1{
    font-weight: lighter;
    text-align: center;
    font-size: 44px;
    background-image: -webkit-linear-gradient(bottom,rgb(247, 84, 44),purple,rgb(81, 81, 255),green,yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
#main .section1 p{
    font-size: 17px;
    text-align: center;
    margin-top: 11px;
}
/* 第二部分 */
#main .section2{
    height: 532px;
    /* background: azure; */
    padding-top: 70px;
}
#main .section2 ul li{
    float:left;
    margin-right: 43px;
    margin-bottom: 19px;
    position: relative;
}
#main .section2 ul li:nth-child(3n) {
    margin-right: 0px;
}
#main .section2 ul li img{
    display: block;
}
/* #main .section2 ul .list{
    margin-right: 0px;
} */
#main .section2 .pos{
    width: 228px;
    height: 71px;
    color: #ffffff;
    position: absolute;
    top: calc(50% - 35.5px);
    left: calc(50% - 114px);
    z-index: 1;
    text-align: center;
    line-height: 71px;
}
#main .section2>ul>li:nth-child(1)>div{
    background-color: rgba(25, 157, 221,0.8);
}
#main .section2>ul>li:nth-child(2)>div{
    background-color: rgba(23, 104, 222, 0.8);
}
#main .section2>ul>li:nth-child(3)>div{
    background-color: rgba(251, 207, 24,0.8);
}
#main .section2>ul>li:nth-child(4)>div{
    background-color: rgba(154, 200, 52,0.8);
}
#main .section2>ul>li:nth-child(5)>div{
    background-color: rgba(227, 17, 127,0.8);
}
#main .section2>ul>li:nth-child(6)>div{
    background-color: rgba(247, 37, 36,0.8);
}
/* 第三部分 */
#main .section3{
    height: 143px;
    background-color:#ebeff2 ;
    padding-top: 42px;
}
#main .section3 h1{
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
}
#main .section3 p{
    font-size: 17px;
    text-align: center;
    margin-top: 26px;
}
/* 第四部分 */
#main .section4{
    height: 576px;
    background-color:#ebeff2 ;
}
#main .section4 ul li{
    float: left;
}
#main .section4 ul li img{
    display: block;
    margin: 0px 2px 2px 0px
}
/* 第五部分 */
#main .section5{
    height: 143px;
    /* background-color: bisque; */
    padding-top: 42px;
}
#main .section5 h1{
    font-size: 44px;
    font-weight: lighter;
    text-align: center;
}
#main .section5 p{
    font-size: 17px;
    text-align: center;
    margin-top: 27px;
}
/* 第六部分 */
#main .section6{
    height: 497px;
    /* background-color: coral; */
}
#main .section6 ul li{
    float: left;
}
#main .section6 ul li img{
    margin: 0px 2px 1px 0px;
    display: block;
}
/* 第七部分 */
#main .section7{
    height: 757px;
    background-image: url(../img/background.jpg);
}
#main .section7 .news{
    height: 143px;
    padding-top: 42px;
}
#main .section7 h1{
    font-size: 44px;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
}
#main .section7 .news-p{
    font-size: 17px;
    text-align: center;
    margin-top: 25px;
    color: #ffffff;
}
#main .section7 .box{
    width: 550px;
    height: 166px;
    background-color: white;
    overflow: hidden;
    float: left;
    margin-bottom: 15px;
}
#main .section7 .box img{
    width: 170px;
    height: 166px;
    float: left;
}
#main .section7 .box1-1{
    float: right;
    width: 380px;
    height: 166px;
}
#main .section7 .p1{
    font-size: 15px;
    color: #353432;
    margin-top: 13px;
    margin-left: 20px;
    line-height: 44px;
}
#main .section7 .p2{
    font-size: 12px;
    color: #777;
    line-height: 21px;
    margin-left: 20px;
    margin-right: 32px;
    text-indent: 2px;
}
#main .section7 .p3{
    font-size: 9px;
    color: #d3cdcd;
    margin-left: 20px;
    line-height: 38px;
    margin-right: 32px;
}
#main .section7 .span1{
    float: right;
}
#main .section7 .box1,.box3,.box5{
    margin-right: 40px;
}
/* footer部分 */
#footer h1{
    font-size: 44px;
    font-weight: lighter;
    color: #ffffff;
    height: 127px;
    text-align: center;
    line-height: 127px;
}
#footer .contact{
    width: 564px;
    height: 380px;
    /* background-color: gold; */
    float: left;
    border-right:1px solid #505050 ;
}
#footer .application{
    width: 574px;
    height: 469px;
    /* background-color: goldenrod; */
    float: right;
}
#footer .contact p{
    height: 22px;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 27px;
}
#footer .contact ul li{
    height: 30px;
    font-size: 13px;
    color: #ffffff;
    line-height: 30px;
    text-indent: 28px;
}
#footer .contact ul .list1{
    background: url(../img/relative.jpg) no-repeat -1px 4px;
}
#footer .contact ul .list2{
    background: url(../img/relative.jpg) no-repeat -1px -25px;
}
#footer .contact ul .list3{
    background: url(../img/relative.jpg) no-repeat -1px -55px;
}
#footer .contact ul .list4{
    background: url(../img/relative.jpg) no-repeat -1px -85px;
}
#footer .contact img{
    margin: 38px 0 22px 0;
    margin-right: 17px;
}
#footer .contact .code{
    display: block;
    margin: 0;
    float: left;
}
#footer .application h3{
    font-weight: normal;
    font-size: 19px;
    color: #ffffff;
    text-indent: 50px;
    margin-bottom: 27px;
}
#footer .application form{
    width: calc(100% - 50px);
    /* height: 100%; */
    margin-left: 50px;
}
#footer .application form div{
    min-width: 327px;
    min-height: 27px;
    margin-bottom: 14px;
}
#footer .application form span{
    width: 51px;
    display: inline-block;    
    color: #ffffff;
    font-size: 12px;
    white-space: pre;
    text-align: justify;
}
#footer .application form input{
    width: 271px;
    height: 27px;
    background-color: #828282;
    border: none;
}
#footer .application form select {
    width: 271px;
    height: 27px;
    background-color: #828282;
}
#footer .application form .last{
    width: 462px;
    height: 130px;
}
#footer .application .reset-box input{
    height: 36px;
    border: none;
    background-color: #828282;
    padding: 0px 20px;
    text-align: center;
    line-height: 36px;
    margin-right: 12px;
    border-radius: 4px;
}
#footer .application .reset-box{
    margin-left: 105px;
}
#footer .foot{
    font-size: 12px;
    color: #8c8c8c;
    background-color: #191919;
    text-align: center;
    line-height: 38px;
}
